asgiref==3.11.1
attrs==26.1.0
black==26.3.1
click==8.3.2
colorama==0.4.6
Django==6.0.4
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
drf-nested-routers==0.95.0
drf-spectacular==0.29.0
inflection==0.5.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
mypy_extensions==1.1.0
packaging==26.1
pathspec==1.0.4
pillow==12.2.0
platformdirs==4.9.6
PyJWT==2.12.1
pytokens==0.4.1
PyYAML==6.0.3
referencing==0.37.0
rpds-py==0.30.0
sqlparse==0.5.5
tzdata==2026.1
uritemplate==4.2.0
